:root {
  --primary-color: #53b8bb;
  --secondary-color: #055052;
  --color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}

.navbar {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0.5rem 1.5rem;
  font-size: larger;
  background-color: var(--secondary-color);
}

.navbar a {
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  color: var(--color);
  font-size: larger;
}

.heading {
  text-align: center;
  padding: 2%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: auto;
  padding: 2%;
}

.sub-head {
  text-align: center;
}

.question-container {
  padding: 1rem;
  border: var(--secondary-color) 2px solid;
  margin: 1rem;
}

label {
  font-size: larger;
  margin: 1rem;
}

input {
  padding: 1rem;
}

button {
  background-color: var(--secondary-color);
  margin: 1rem auto;
  padding: 1rem;
  width: 30%;
  font-size: 1rem;
  color: var(--color);
}

#output-div {
  text-align: center;
  margin: auto;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
}

.footer {
  display: block;
  position: fixed;
  bottom: 0%;
  left: 40%;
  padding: 1rem 1rem;
  color: white;
  margin-top: 10%;
  text-align: center;
}

.footer div {
  margin-bottom: 0.9rem;
}

.list-non-bullet {
  list-style: none;
  padding-inline-start: 2px;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.2rem;
}

.link {
  text-decoration: none;
  padding: 0.2rem 1.2rem;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

@media screen and (max-width: 768px) {
  .navbar {
    font-size: medium;
    padding: 0.5rem;
  }
  .container {
    width: 100%;
    padding: 1%;
  }

  label {
    margin: 0.2rem;
  }

  input {
    margin: 0.2rem auto;
    width: 90%;
  }

  button {
    margin: 0.5rem auto;
  }

  #output-div {
    margin: 0.2rem;
    font-size: 1.2rem;
  }

  #calculate-area,
  #submit-answer-btn,
  #calculate-btn,
  #check-btn {
    width: 80%;
    padding: 0.5rem;
  }

  .question-container {
    margin: 0.5%;
    padding: 0;
  }

  .footer {
    left: 10%;
  }
}
